
<h2>Result By Category</h2>

<section class=" pt-2bg-light py-4">
    <div class="container px-4 px-lg-5">
        <!-- <h2 class="fw-bolder mb-4">All products</h2> -->
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor = "let products of productList">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top w-100" style="height: 140px" src="{{products.productImg}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">
                                <a routerLink="view-product/{{products.id}}">{{products.name}}</a>
                            </h5>
                            <!-- Product price-->
                            ${{products.price}}
                            <p class="card-text">{{products.descriptions}}</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer">
                        <small class="text-muted">{{products.rating}} stars</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>